<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pro.upchain.wallet">

    <uses-sdk tools:overrideLibrary="cn.bingoogolapple.photopicker"> </uses-sdk>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="pro.upchain.wallet.UpChainWalletApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="pro.upchain.wallet.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pro.upchain.wallet.ui.activity.GuideActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="pro.upchain.wallet.ui.activity.MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name="pro.upchain.wallet.ui.activity.QRCodeScannerActivity" />

        <activity android:name="pro.upchain.wallet.ui.activity.CreateWalletActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.AddTokenActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.AddCustomTokenActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.GatheringQRCodeActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.ContactsActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.SendActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.PropertyDetailActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.WalletMangerActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.MessageCenterActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.SystemSettingActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.LanguageSettingActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.CurrencyUnitSettingActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.Web3SettingActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.NetSettingActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.TransactionsActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.SwitchWalletActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.WalletBackupActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.MnemonicBackupActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.VerifyMnemonicBackupActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.ImportWalletActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.WalletDetailActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.ModifyPasswordActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.ExportKeystoreActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.HelpActivity" />
        <activity android:name="pro.upchain.wallet.ui.activity.TransactionDetailActivity"></activity>
    </application>

</manifest>